* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main_font: "Recursive";
  --main_color: #ffd9d9;
  --dark_main_color: #ffbaaf;
  --light_bg: #fff5f5;
  --second_color: #7eb77f;
  --second_color_dark : #497D4E;
  --grey-bg: #d9d9d9;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Recursive", sans-serif;
}
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.vignette {
  height: 130px;
  border-radius: 50%;
}
.aside_head {
  width: 200px;
  height: 80px;
  position: relative;
  top: 60px;
}
.icone_panier {
  display: flex;
  justify-content: center;
}
.legende_aside {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
.inside_aside {
  height: 80px;
}
/* .panier_icone{
    display: flex;
    justify-content: center;
    align-items: center;
} */
li {
  list-style-type: none;
}
nav {
  text-align: center;
}
.menu {
  display: flex;
  width: 100%;
  background: var(--main_color);
  justify-content: space-evenly;
}
.menu > li {
  float: left;
  color: #000000;
  width: 140px;
  height: 40px;
  line-height: 40px;

  cursor: pointer;
  font-size: 17px;
}

.menu > li:hover {
  background: var(--dark_main_color);
}

.btn {
  padding: 0.5em 1.5em;
  background-color: var(--second_color);
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: 0.8em;
  /* letter-spacing: 1px; */
  cursor: pointer;
}
.btn:hover {
  background-color: var(--second_color_dark);
  color: white;
  font-weight: 700;
  transition: 0.3s;

}

/* -----------------------------------------page accueil */

.bandeau-images {
  display: flex;
  justify-content: space-evenly;
}
.cote-bandeau {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-cote {
  width: 200px;
}
.image-centre {
  width: 250px;
}

.texte-accueil {
  margin: 2em;
  width: 90%;
  /* text-transform: uppercase; */
  text-align: center;
  line-height: 1.5em;
}

/*------------------------------------- page boutique */

.boutique {
  display: flex;
}
.boutique-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.produits-container {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.titre-container {
  font-size: 2em;
  margin-top: 1.5em;
  text-align: center;
  width: 100%;
}
.card-produit {
  margin: 2em;
  border: solid 2px var(--dark_main_color);
}

.image-card {
  width: 200px;
}

.card-nom {
  text-align: center;
}
.aside-menu {
  width: 20%;
  margin-left: 4em;
}

.aside-menu {
  margin-top: 12em;
  width: 300px;
  height: 500px;
  background: var(--light_bg);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.aside-menu .btn {
  display: block;
  padding: 1rem;
  border-bottom: solid 1px var(--dark_main_color);
  border-top: solid 1px var(--dark_main_color);
  position: relative;
}

.aside-menu .sous-menu {
  background: var(--light_bg);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease-out;
}

.aside-menu .sous-menu a {
  display: block;
  padding: 1rem;
  position: relative;
}

/* .aside-menu .sous-menu a::before{
  content:'';
  display:block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 5px;
  background: #e43f5a;
  opacity: 0;
  transition: all .5s;
} */

.aside-menu .sous-menu a:hover {
  background-color: var(--dark_main_color);
  /* padding-left: calc(1rem + 5px); */
}

.aside-menu .sous-menu a:hover::before {
  opacity: 1;
}

.item:target .sous-menu {
  max-height: 20rem;
}

/*--------------------------------------------- page détail produit */

.detail-produit {
  display: flex;
  justify-content: space-evenly;
}

.images {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 350px;
  margin: 3em;
  border: 2px var(--dark_main_color) solid;
  box-shadow: 10px 10px 10px var(--grey-bg);
  justify-content: space-between;
}
.image-grande {
  max-width: 300px;
  max-height: 250px;
  display: flex;
}
.image-container {
  display: flex;
  justify-content: center;
}
.prix {
  display: flex;
  justify-content: center;
  padding: 1.5em;
  font-weight: 700;
  font-size: 1.5em;
}

.cadre-produit {
  border: #000000 2px solid;
  width: 40%;
  margin: 3em;
  padding: 2em;
}
.description-produit {
  margin-top: 1em;
  height: 50%;
}
.btn-ajouter {
  margin-left: 3em;
}

.ajouter-panier {
  display: flex;
}
.centre {
  display: flex;
  justify-content: center;
}

/* ------------------------------Page Panier-------------------*/
.panier-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  min-height: 40vh;
}
.detail-article .border {
  margin: 2px;
  border: 1px solid black;
  width: 65px;
  height: 65px;
}
.detail-article:nth-child(odd) {
  background-color: var(--main_color);
}
.panier-articles {
  border: 1px solid black;
  margin: 0 5em;
  width: 50%;
  height: 100%;
}
.detail-article {
  display: flex;
  flex-direction: row;
  align-items: center;
}
table {
  table-layout: fixed;
  width: 100%;
}
td:nth-child(1) {
  width: 15%;
}
td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 40%;
}

td:nth-child(4) {
  width: 5%;
}

.panier-prix {
  border: 1px solid black;
  margin: 0 5em;
  padding: 1.5em;
  width: 50%;
  display: flex;
  flex-direction: column;
  line-height: 2em;
}
.aligne-droite {
  /* display: inline-block; */
  float: right;
  text-align: right;
  padding-right: 5px;
}
.aligne-gauche {
  /* display: inline-block; */
  float: left;
  text-align: left;
  margin-right: 5%;
}
.date-form {
  display: inline;
}
.text-comment {
  margin-top: 2em;
  color: #7a7a7a;
  font-size: 0.75em;
}
.marge-25 {
  margin-top: 25%;
}

/* -----------------------------PAGE INSCRIPTION------------------------------- */

.inscription-container {
  display: flex;
  justify-content: space-evenly;
}

.form-inscription {
  background-color: var(--light_bg);
  margin: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.marge-40 {
  margin-top: 40%;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-inscription label {
  display: block;
  margin-bottom: 5px;
}

.form-inscription input {
  display: block;
}
.row {
  display: flex;
}
.col {
  width: 50%;
  padding: 1em;
}
input[name="adresse"] {
  height: 50px;
}
input[type="submit"] {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ----------------------------------- PAGE CONNEXION -------------------------------- */

.connexion-container {
  display: flex;
  justify-content: center;
}
.titre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/*---------------------------------------PAGE COMPTE -----------------------------*/

.compte-container {
  display: flex;
  justify-content: center;
  line-height: 2em;
  text-align: center;
  padding: 2em;

  width: 50%;
}
.cadre-info {
  margin: 2em;
  padding: 2em 0;
  width: 50%;
  border: black 1px solid;
  background-color: var(--light_bg);
}


/*-------------------------------PAGE LOTERIE -----------------------------------------*/

.annonce-container {
  text-align: center;
  line-height: 2em;
}
#annonce {
  width: 100%;
  height: 40px;
 background-color: var(--dark_main_color) ;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 1em;
}
#annonce-texte {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  color: black ;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.slot-img img {
  width: 100px;
  height: 100px;
}
.loterie-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.slot-item {
  background-image: linear-gradient(var(--dark_main_color), var(--second_color) );
  /* background-color: black; */
  padding: 10px;

}
.jackpot-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slot-img {
  width: 100px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow:hidden;
}
.slot-img img.animate {
  animation: defile 0.1s ease-in-out infinite;
}

@keyframes defile {
  0% {
    filter: blur(3px);
    transform: translateY(-100px);
  }
  100% {
    filter: blur(5px);
    transform: translateY(100px);
  }
}
